[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonify = "*"
gunicorn = "*"
python-dotenv = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
serve = "gunicorn wsgi:app"
clean = "rm -r __pycache__"
