[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonify = "*"
gunicorn = "*"
python-dotenv = "*"
black = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
serve = "uvicorn src.app:app"
clean = "rm -r __pycache__"
